@model IEnumerable<User>

@{
    ViewData["Title"] = "Doctors";
}




    <div class="panel panel-default">
        <div class="panel-heading">
            List of doctors
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Clinic</th>
                        <th>Is email confirmed?</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var doctor in Model)
                    {
                        <tr>
                            <td>
                                @doctor.Email
                            </td>
                            <td>
                                @if (doctor.Clinic != null)
                                {
                                    @doctor.Clinic.Name
                                }
                            </td>
                            <td>
                                @(doctor.EmailConfirmed ? "Yes" : "No")
                            </td>
                            <td>
                                <a asp-controller="Doctor" asp-action="Edit" asp-route-id="@doctor.Id" class="btn-outline-primary">Edit</a>
                                <form asp-action="Delete" asp-controller="Doctor" method="post">
                                    <input type="hidden" name="id" value="@doctor.Id" />
                                    <button type="submit" class="btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <a asp-controller="Doctor" asp-action="Add" class="btn-outline-info">Create</a>
        </div>
    </div>
@*<ng-view></ng-view>*@

<script>
    var MvcModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
new Newtonsoft.Json.JsonSerializerSettings
{
    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
}) as String);
</script>