@model IEnumerable<VirusForecast.Models.VirusCaseViewModel.VirusCaseListViewModel>

    @{
    ViewData["Title"] = "List of your cases";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    }

    @section Title{
        <h1>Your cases</h1>
    }

    <hr />
    <table class="table" ng-controller="accountCtrl as vm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChildrenAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VirusPositive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClinicId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkModeId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="i in vm.model">

            <tr>
                <td>
                    {{i.Age}}
                </td>
                <td>
                    {{i.Gender}}
                </td>
                <td>
                    {{i.ChildrenAmount}}
                </td>
                <td>
                    {{i.VirusPositive}}
                </td>
                <td>
                    {{i.ClinicId}}
                </td>
                <td>
                    {{i.RegionId}}
                </td>
                <td>
                    {{i.WorkModeId}}
                </td>
                <td>
                    <div class="row">

                        <a href="~/Virus/Edit/{{i.Id}}" class="btn btn-primary" style="margin-right:5px;">Edit</a>
                        <a href="~/Virus/Details/{{i.Id}}" class="btn btn-info" style="margin-right:5px;">Details</a>
                        <form asp-action="Delete" asp-controller="Virus" method="post">
                            <input type="hidden" name="id" value="{{i.Id}}" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <script>
    var MvcModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
new Newtonsoft.Json.JsonSerializerSettings
{
    ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
}) as String);
    </script>